// Define variables for your color scheme

// For example:
$blue: #167FFB;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$red: #ED1C24;
$dark-orange: #F26522;
$orange: #ED823A;
$light-orange: #FBAF5D;
$yellow: #FFCC66;
$light-yellow: rgba(255, 204, 102, 0.219);
$gray: #0E0000;
$light-gray: #F4F4F4;
