<% provide(:title, "Accueil") %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'background.jpg' %>);">
  <div class="container">
    <h1>Votre voyage personnalisé à Cuba !</h1>
    <p>Découvrez nos programmes originaux aux meilleurs prix.</p>
  </div>
</div>

<%= link_to "Coucou", "#" %>
