.discover {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  margin-top: 32px;
}

.discover-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  p {
    color: $yellow;
    font-weight: bolder;
    font-size: 1.5em;;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: 0;
  }
}
