.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 70px;
  position: relative;
}

// Transparent background for homepage
.no-bg {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
}

// Logo on homepage
.navbar-lewagon .navbar-brand img {
  width: 40px;
  width: 100px;
  position: absolute;
  border-radius: 50%;
  border: solid 3px $red;
  top: 10px;
  left: 30px;
}


.navbar-lewagon {
  .nav {
    align-items: center;
  }
  .nav > .nav-link {
    color: $light-gray;
    &:hover {
      color: $red;
    }
  }
  a:last-child {
    margin-left: 15px;
  }
}
